# IEEE 802.15.4 driver configuration options

#
# IEEE 802.15.4 options
#
menuconfig IEEE802154
    bool "IEEE 802.15.4 drivers"
    depends on NETWORKING
    default y if NET_L2_PHY_IEEE802154


if IEEE802154
rsource "Kconfig.sim_uart_pipe"
endif # IEEE802154
